html, body {
    max-width: 1250px;
    font-size: 24px;
    height: 100%;
    margin: auto;
}
#wrap {
    margin: auto;
    width:100%;
    height: 100%;
    background-color: #fff;
}

#verticalContent{
    height: 100%;
    background-color: #fff;
}
#container{
    margin:0 auto;
    width:1250px;
    height: 100%;
}

.hide {
    display: none !important;
}

#verticalMenu {
    width: 300px;
    float: left;
    height: 100%;
    background-color: #aed7fe;
    display: inline-block;
}

#verticalMenu h1 {
    max-width: 100%;
    margin: auto;
    text-align: center;
    font-size: 24px;
}

#content {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    float: left;
    background-color: #ebebeb;
    height: 100%;
}
.verticalContent {
    width: 930px;
}

.fullContent {
    width: 1230px !important;
}

.center {
    width: 300px;
    text-align: center;
	bottom: 0;
	position: absolute;
}

.menuToggle {
    margin-top: 2px;
    display: inline-block;
    text-align: center;
    width: 34px;
    color: #fff;
    border-radius: 50%;
    background: #44baa9;
    font-size: 32px;
    text-decoration: none;
}

#verticalMenu ul
{
    line-height: 35px;
    padding-inline-start: 0;
}

#verticalMenu li {
    list-style: none;
    position: relative;
    background: #8cbdec;
    margin-top: 3px;
    margin-bottom: 3px;
}

#verticalMenu li ul {
    background: #d9a273;
    left: 300px;
    width: 180px;
    text-align: center;
}

#verticalMenu li li {
    list-style: none;
    position: relative;
    background: #b87942;
    top: -30px;
}

#verticalMenu ul li a {
    width: 148px;
    display: block;
    text-decoration: none;
    text-align: center;
    color:#000;
}

#verticalMenu ul ul {
    position: absolute;
    visibility: hidden;
    top: 30px;
}

#verticalMenu ul li:hover ul {
    visibility: visible;
}

#verticalMenu li:hover {
    background-color: #eab488;
}

#horizontalContent {
    font-size: 24px;
    background-color: #aed7fe;
    height: 60px;
}

#horizontalContent h1 {
    font-size: 24px;
    padding-left: 10px;
    float: left;
    display: inline-block;
    vertical-align:middle;
}

.horizontalMenu ul
{
    padding-top: 10px;
    margin: auto;
    line-height: 35px;
    padding-inline-start: 0;
}

.horizontalMenu li {
    float: left;
    list-style: none;
    position: relative;
    margin-top: 3px;
    margin-bottom: 3px;
}

.horizontalMenu li ul
{
    padding-top: 0;
}

.horizontalMenu li a {
    margin-left: 3px;
    margin-right: 3px;
    background-color: #8cbdec;
}

.horizontalMenu li li a {
    margin-left: 3px;
    margin-right: 3px;
    background-color: #b87942;
}

.horizontalMenu li ul {
    background: #d9a273;
    text-align: center;
}

.horizontalMenu li li {
    list-style: none;
    position: relative;
    background: #b87942;
}

.horizontalMenu ul li a {
    width: 160px;
    display: block;
    text-decoration: none;
    text-align: center;
    color:#000;
}

.horizontalMenu ul ul {
    position: absolute;
    visibility: hidden;
}

.horizontalMenu ul li:hover ul {
    visibility: visible;
}

.horizontalMenu li a:hover {
    background-color: #eab488;
}

.horizontalMenu li ul li a:hover {
    background-color: #eab488;
}